/** @format */

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #737373;
  background-color: #fff;
}

.container {
  min-width: 320px;
  padding: 0 42px;
  margin: 0 auto;
}

@media screen and (min-width: 411px) {
  .container {
    width: 411px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 728px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1150px;
  }
}

.clients {
  padding: 100px 0;
}

.clients-title {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  line-height: 168%;
  letter-spacing: 0.01em;
  color: #22343d;
}

@media screen and (min-width: 768px) {
  .clients-title {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1400px) {
  .clients-title {
    font-size: 32px;
  }
}

.clients-text {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;
}

@media screen and (min-width: 768px) {
  .clients-text {
    width: 537px;
    margin: 0 auto;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1400px) {
  .clients-text {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list {
    display: flex;
    gap: 15px;
  }
}

@media screen and (min-width: 1400px) {
  .clients-list {
    gap: 64px;
  }
}

@media screen and (max-width: 767px) {
  .clients-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.clients-item {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 28px 26px 23px 26px;
}

@media screen and (min-width: 768px) and (max-width: 1399px) {
  .clients-item {
    padding: 12px 5px 24px 5px;
  }
}

.clients-item-text {
  margin-bottom: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  color: #737373;
}

.clients-item-inner {
  display: flex;
  align-items: center;
}

.clients-item-img {
  margin-right: 14px;
  width: 50px;
  height: 50px;
}

.clients-item-title {
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #02897a;
}

.clients-item-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  color: #252b42;
}

/* .container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.clients {
  padding: 50px 0;
}

.clients-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.78125;
  letter-spacing: 0.01em;
  color: #22343d;
}
.clients-text {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 537px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;
}
.clients-list {
  display: flex;
  gap: 65px;
}
.clients-item {
  padding: 28px 26px;
  width: calc((100% - 2 * 65px) / 3);
  border: 1px solid #dedede;
  border-radius: 5px;
}

.clients-item-text {
  margin-bottom: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
}

.clients-item-inner {
  display: flex;
  align-items: center;
}

.clients-item-img {
  margin-right: 14px;
  width: 50px;
  height: 50px;
}
.clients-item-title {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}
.clients-item-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.01em;
  color: #252b42;
}

span {
  width: 537px;
  margin: 0 auto;
}

.box {
  padding: 200px 0;
  width: 600px;
  margin: 0 auto;
}

.burger {
  appearance: none;
}

.burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.burger-icon {
  position: relative;
}

.burger-icon,
.burger-icon::after,
.burger-icon::before {
  width: 30px;
  height: 2px;
  background-color: #000;
}

.burger-icon::after,
.burger-icon::before {
  content: "";
  position: absolute;
  left: 0;
}

.burger-icon::after {
  top: -8px;
}

.burger-icon::before {
  top: 8px;
}

.burger-btn:hover .burger-icon::after {
  top: -12px;
}

.burger-btn:hover .burger-icon::before {
  top: 12px;
}

.burger:checked + .burger-btn .burger-icon {
  background-color: transparent;
}

.burger:checked + .burger-btn .burger-icon::after {
  transform: rotate(-45deg);
  top: 0;
}

.burger:checked + .burger-btn .burger-icon::before {
  top: 0;
  transform: rotate(45deg);
} */
